<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/shortcut.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css">
    <title>Simon-E | Antimodel</title>
</head>

<body>
    <div class="contenedor">
        <header>
            <!--Menu-->
            <nav class="navbar flex-row container">
                <!--Imagen cabecera-->
                <picture class="logo">
                    <a href="../../index.html"><img src="../img/LOGO.png" id="shortcut" alt="logo de simone">
                </picture>
                <ul class="menu flex-row">
                    <li class="menu__item">
                        <a href="../../index.html" class="menu__link">HOME</a>
                    </li>
                    <li class="menu__item">
                        <a href="../views/about.html" class="menu__link"> ABOUT ME </a>
                    </li>
                    <li class="menu__item">
                        <a href="../views/proyects.html" class="menu__link"> PROYECTS </a>
                        <ul class="sub-menu">
                            <li class="sub-menu__item">
                                <a href="../views/cyberpunk.html" class="sub-menu__link"> WHAT'S CYBERPUNK? </a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu__item">
                        <a href="../views/contact.html" class="menu__link"> CONTACT </a>
                    </li>
                </ul>
            </nav>
        </header>
        <section class="cyber">
            <article class="cyber-article">
                <img src="../img/landscape 1.png" alt="cyberpunk city landscape" class="cyber__img__1">
                <h1 class="cyber__title">WHAT'S CYBERPUNK?</h1>
                <p class="info">
                    Trying to define Cyberpunk is a difficult task. In short, however, Cyberpunk refers to both a
                    culture
                    and
                    a genre.

                    Cyberpunk is a sub-genre of science fiction that features advanced science and technology in an
                    urban,
                    dystopian future. On one side you have powerful mega-corporations and private security forces, and
                    on
                    the other you have the dark and gritty underworld of illegal trade, gangs, drugs, and vice. In
                    between
                    all of this is politics, corruption, and social upheaval.
                    Cyberpunk began as a literary movement but has become a subcultural organism. “What is Cyberpunk?”
                    is a
                    complex and multi-layered question, whose answer is ever-changing as the subculture and our
                    perception
                    of the future changes. The tendrils, that began in the written word, have infiltrated beyond movies
                    to
                    all forms of art, fashion and philosophy generating an all-encompassing and ever-growing subculture.
                    <br>
                    <br>

                    There are number of ways to examine the origins of the cyberpunk movement. The term “cyberpunk”
                    itself
                    can be traced to the short story Cyberpunk by Bruce Bethke. Then of course, there are the core
                    cyberpunk
                    authors that are generally accepted to have laid the ground work of the cyberpunk movement William
                    Gibson (Gibson is considered the founder of Cyberpunk), Bruce Sterling, Pat Cadigan, Rudy Rucker,
                    John
                    Shirley and Lewis Shiner. There are also a number of precursor novels that had strong themes and
                    imagery
                    that would be later associated with the cyberpunk genre such as The Demolished Man (1953) and The
                    Stars
                    My Destination (1956) by Alfred Bester, Do Androids Dream of Electric Sheep? (1968) by Phillip K.
                    Dick,
                    Dr. Adder (Written in 1972, but not published until 1984) by K.W. Jeter, Gravity's Rainbow (1973) by
                    Thomas Pynchon, The Shockwave Rider (1975) by John Brunner, and True Names (1981) by Vernor Vinge.
                    More
                    recently Neal Stephenson, author of Snow Crash (1992), is largely credited with bringing cyberpunk
                    into
                    the post-cyberpunk era.
                </p>
                <h2 class="cyber__sub">Finding a definition</h2>
                <p class="info">
                    We can break down a basic definition of cyberpunk by dissecting the word itself. Cyber refers to
                    technology, and is most often associated with cyberspace (this word was originally coined by William
                    Gibson himself), and cybernetic enhancements to the body. But this can can also refer to other
                    technologies such as biotechnology and nanotechnology for instance.
                    <br>
                    <br>

                    Punk, on the other hand, refers to the people and the attitude that cyberpunk has. Protagonists in
                    cyberpunk tend to be outsiders, anti-heros, outcasts, criminals, visionaries, dissenters, and
                    misfits.
                    The underlying aspect that applies to all of these groups is their subversive nature.
                    To subvert is to overthrow or undermine something. The cyberpunk genre itself subverted science
                    fiction,
                    and we never looked back. To be punk is to question authority, and to actively subvert any of that
                    authority you don't agree with. Different people do this in different ways, just as our cyberpunk
                    protagonists do. An example is Motoko Kusanagi from the Ghost in the Shell franchise. On the surface
                    she
                    seems to be a tool and agent for the Japanese government. This is true, but this is not what defines
                    her, nor how she defines herself. Throughout the series she is not afraid to go rogue and take
                    things
                    into her own hands if it will get her closer to what she thinks is right, fuck the politicians. She
                    is
                    a subversive element within the government.
                    <br>
                    <br>
                </p>



            </article>
            <article class="tech-article">
                <img src="../img/tech landscape.jpg" alt="tech landscape" class="cyber__img__2">
                <h1 class="tech__title">WHAT'S TECHWEAR?</h1>
                <div class="tech__item">
                    <p class="info"><br>From head to toe, it's an aesthetic that prioritizes functionality, through the
                        use
                        of
                        ultra-durable
                        weatherproof fabrics and features. It pairs sleek, seamless designs with a utilitarian approach
                        and
                        functionality. Its minimalist philosophy favours muted tones to bright colours. It's the
                        opposite of
                        the
                        loud aesthetics that define Gorpcore.

                        Techwear isn't a single item of clothing, it's a uniform. It's the paramilitary look for our
                        modern
                        day
                        battles with the elements. It's a modern field jacket made with durable fabrics and plenty of
                        storage.
                        Not a single drop of rain is meant to get in. It's breathable, lightweight, and designed for
                        those
                        who
                        move. Every detail is deliberate.
                    </p>
                    <h2 class="tech__sub">TECHNOLOGY & FABRIC</h2>
                    <p class="info">
                        When it comes to techwear, the abbreviation could easily stand for technological wear. The
                        combination
                        of specialized fabrics and features with modern urban styles is what makes techwear so
                        appealing.
                        Brands
                        like Icebreaker and Smartwool use merino wool to make everyday apparel because it's
                        ultra-lightweight,
                        breathable, and moisture-wicking. It's a natural fibre, but it has all the rugged properties
                        required of
                        techwear. The classic crew neck is a menswear essential, but when you replace cotton with merino
                        wool
                        you have style and functionality.
                        <br>
                        <br>

                        GORE-TEX is the technology most often associated with Techwear thanks to its durability,
                        breathability,
                        and waterproofness. Brands like Arc'teryx and Veilance use the latest high-end technology to
                        create
                        apparel that can stand up to the elements, and will often favour GORE-TEX.

                        Cheap techwear might be hard to find due to its reliance on high-quality fabrics, but a number
                        of
                        technical brands have developed their own materials and technologies that are equally capable of
                        withstanding the elements. The North Face developed a technology called FUTURELIGHT that offers
                        the
                        same
                        breathable, waterproof protection. Applied to our urban apparel you start to get a feel for what
                        Techwear is, the optimization of our everyday clothing.
                        <br>
                        <br>
                    </p>

                </div>

            </article>
        </section>
        <!-- Formulario -->
        <footer id="footer">
            <p class="foot1"> If you want to break the norms,</p>
            <p class="foot2"> SUSCRIBE</p>
            <form action="/action_page.php">
                <div class="email">
                    <input type="email" id="fname" placeholder="YOUR EMAIL"><br>
                    <div class="button">
                        <input type="button" value="SUBMIT" id="btn">
                    </div>
                </div>
            </form>
            <p class="copy"> © 2022 Simon-E.</p>
        </footer>

    </div>

</body>

</html>