<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Modeling proyects and information about them">
    <meta name="keywords" content="MODELAJE, PORTAFOLIO DIGITAL, MODEL PORTFOLIO, CYBERPUNK, TECHWEAR">
    <link rel="shortcut icon" href="../img/shortcut.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/main.css">
    <title>Yongbok-E | Proyects</title>
</head>

<body>
    <div class="contenedor">
        <header>
            <!--Menu-->
            <nav class="navbar flex-row container-fluid">
                <!--Imagen cabecera-->
                <picture class="logo">
                    <a href="../../index.html"><img src="../img/shortcut_logo.png" id="shortcut" alt="logo de simone"
                            class="logo">
                </picture>
                <ul class="menu flex-row">
                    <li class="menu__item">
                        <a href="../../index.html" class="menu__link">HOME</a>
                    </li>
                    <li class="menu__item">
                        <a href="../views/about.html" class="menu__link"> ABOUT ME </a>
                    </li>
                    <li class="menu__item">
                        <a href="../views/proyects.html" class="menu__link"> PROYECTS </a>
                        <ul class="sub-menu">
                            <li class="sub-menu__item">
                                <a href="../views/cyberpunk.html" class="sub-menu__link"> WHAT'S CYBERPUNK? </a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu__item">
                        <a href="../views/contact.html" class="menu__link"> CONTACT </a>
                    </li>
                </ul>
            </nav>
        </header>

        <main>
            <section class="proyects grid-template-columns">
                <section class="proyect-title">
                    <h1>PROYECTS</h1>
                    <br>
                </section>

                <section class="proyects__1">
                    <img src="../img/cq_mgz.jpeg" alt="example 1" class="proyect__img__1">
                </section>

                <section class="proyects__2">
                    <h2 class="proyects__items__1">GQ Korea, August 2021.</h2>
                    <p class="proyect__text__1">
                        <br>GQ is an American international monthly men's magazine based in New York City and founded in
                        1931.
                        The publication focuses on fashion, style, and culture for men, though articles on food, movies,
                        fitness, sex, music, travel, celebrities' sports, technology, and books are also featured.
                        <br>Since its publication in the United States in 1957, GQ has
                        established an unrivaled position as a guide for stylish men in 18 countries around the
                        world, including England, Germany, Italy, Spain and Russia. GQ KOREA, founded in March
                        2001, records unforgettable moments of Korean magazine journalism with intense content
                        covering fashion and culture.
                        <br>
                        The ideology and motto of GQ KOREA, contained in one issue and each column, are well-known
                        with the support of the most advanced readers of the time, from not only men with the most
                        enlightened style in Korea, but also smart women with good tastes. Being represented.
                    </p>
                </section>

                <section class="proyects__3">
                    <img src="../img/star_1.jpeg" alt="example 2" class="proyect__img__2">
                </section>

                <section class="proyects__4">
                    <h2 class="proyects__items__2">@star1 Magazine, Nov 2021. </h2>
                    <p class="proyect__text__2"> <br>@star1 is a Seoul-based Star & Style magazine.
                        Founded in 2012, it sends out monthly tabloid magazines containing latest fashion, beauty,
                        lifestyle news, K-pop, K-star and fashion editorials.
                        <br>
                        For this pictorial, Felix rocked his blonde, mid-length hair style from Stray Kids' "Thunderous"
                        era while working with nude and monotone fashion pieces. During his interview, Felix relayed his
                        gratitude toward fans for Stray Kids' first ever win on a major broadcast station music program
                        with their 2nd full album title track, "Thunderous".
                        <br>
                        The idol was also asked about being part from his family and when he misses them. He replied, "I
                        always miss them, and I want to see them. It's been about 2 years since I've visited them in
                        Australia because of COVID-19, but I'm sure that I'll be able to see them again when the
                        situation improves."
                    </p>

                </section>
            </section>
        </main>

        <!-- Formulario -->
        <footer class="footer container-fluid">
            <p class="foot1"> If you want to break the norms,</p>
            <p class="foot2"> SUSCRIBE</p>
            <form action="/action_page.php">
                <div class="email">
                    <input type="email" id="fname" placeholder="YOUR EMAIL"><br>
                    <div class="button">
                        <input type="button" value="SUBMIT" id="btn">
                    </div>
                </div>
            </form>
            <p class="copy"> © 2022 Yongbok-E.</p>
        </footer>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>

</body>

</html>