header {
    background-color: #000000;

    .navbar {
        min-height: 10vh;
        padding: 0 1rem;
        @include flex(row, space-between, center, 2rem, wrap);
    }

    .logo {
        height: 80px;
        flex-basis: 30%;
    }

    .menu {
        flex-basis: 40%;
        justify-content: space-between;
        @include flex($justify: space-between, $align: center, $gap: 2rem, $wrap: nowrap);

        &__item {
            border: 2px solid var(--segundo);

            &--active {
                @extend .menu__item;
                border-bottom: 2px solid cyan;
            }

            & a:hover {
                color: $cuarto;
                transition: color .2s ease-in-out;
            }
            
        }

        .menu__link {
            font-size: 1.5em;
            font-family: $font-dos;
            font-style: normal;
            font-weight: bold;
            padding: 1rem;
        }
        
    }

}

nav ul {
    list-style: none;
}


.menu .menu__item:hover .sub-menu {
    display: block;
}

.sub-menu {
    display: none;
    position: absolute;
    z-index: 1000;
    transition: all .2s ease-in-out;
    background-color: #000000;
}

.sub-menu .sub-menu__item .sub-menu__link {
    font-size: 1.4em;
    padding: 1.4rem;
    font-family: var(--font-dos);
    font-style: normal;
    font-weight: bold;
    background-color: $segundo;
    top: 100%;

}

a:link,
a:visited,
a:hover,
a:active {
    color: #ffffff;
    text-decoration: none;
    justify-content: space-around;
    background-color: #000000;
}

@media screen and (max-width: 768px) {
    header {
        padding: 2em;

        .navbar {
            justify-content: center;
            flex-direction: column;
        }

        .menu {
            font-size: .8em;
        }

    }
}