/*ABOUT ME PAGE*/

/*Titulo*/
.about_form {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px 100px;

    .datos {
        background-color: $primero;
        max-width: 1280px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: left;
        align-items: left;
        text-align: left;

        &:after {
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }

        .datos__item {
            font-family: $font-uno;
            font-style: normal;
            font-weight: normal;
            font-size: 80px;
            line-height: 0px;
            text-shadow: #FFFFFF 2px 2px;
            margin-top: 100px;
            margin-left: 30px;
            color: #53ECB9;
        }

        .datos__item__item {
            font-family: $font-dos;
            font-style: normal;
            font-weight: bold;
            font-size: 30px;
            line-height: 30px;
            margin-top: 80px;
            margin-left: 30px;
            color: #FFFFFF;
        }

        .datos__item__item__item {
            font-family: $font-dos;
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 20px;
            margin: 15px 20px 25px 30px;
            padding-right: 20px;

            color: #FFFFFF;
        }

        .datos__img {
            height: 100%;
            max-width: 100%;
            background-size: cover;
        }

    }
}

@media(min-width:480px) {
   
    /*ABOUT ME*/
    main .datos .datos__item {
        font-size: 30px;
    }

    main .datos .datos__item__item {
        font-size: 20px;
    }

    main .datos .datos__item__item__item {
        font-size: 10px;
    }


}

@media(min-width:768px) {
    
    /*ABOUT ME*/
    main .datos .datos__item {
        font-size: 50px;
    }

    main .datos .datos__item__item {
        font-size: 20px;
    }

    main .datos .datos__item__item__item {
        font-size: 10px;
    }


}

@media(min-width:1024px) {

    /*ABOUT ME*/
    main {
        .datos {
            .datos__item {
                font-size: 120px;
            }

            .datos__item__item {
                font-size: 30px;
            }

            .datos__item__item__item {
                font-size: 20px;
                line-height: 30px;
            }
        }
    }
}


