/*ABOUT ME PAGE*/

.about_form {
    display: grid;
    align-content: center;
    min-height: 100vh;

    section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        min-height: 90vh;
        width: 90vw;
        margin: 0 auto;

        .img_about {
            background: url(../img/felix_about.png) center/cover no-repeat;
        }

        .content_about {
            background-color: $primero;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;

            h2 {
                text-transform: uppercase;
                letter-spacing: 6px;
                font-family: $font-uno;
                font-style: normal;
                font-weight: normal;
                font-size: 6vw;
                text-shadow: #FFFFFF 2px 2px;
                color: #53ECB9;
                padding-top: 50px;
            }

            p {
                padding-bottom: 15px;
                width: 60%;
                text-align: center;
                margin: 0 auto;
                font-family: $font-dos;
                font-style: normal;
                font-weight: 300;
                font-size: 16px;
                line-height: 1;
                color: #FFFFFF;
            }
        }
    }
}


@media(max-width:880px) {
    .about_form section {
        grid-template-columns: 1fr;
        width: 100%;
    }

    .img_about {
        height: 100vh;
    }

    .content_about {
        height: 100vh;
    }

}