/*PROYECTS PAGE*/
/*titulo*/
main .proyects {
    background-color: #1b1b1b;
    margin: 15px 20px 25px 30px;
    display: grid;
    min-height: 100vh;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 20vh 1fr 1fr;
    grid-template-areas:
        "title title"
        "img1 sub1"
        "sub2 img2";

}

body .contenedor main .proyects .proyect-title {
    font-family: $font-uno;
    font-style: normal;
    font-weight: normal;
    font-size: 70px;
    line-height: 0px;
    text-align: center;
    text-shadow: #FFFFFF 2px 2px;
    margin-top: 60px;
    margin-left: 30px;
    color: #53ECB9;
    grid-area: title;
}

main .proyects .proyects__1 .proyect__img__1 {
    width: 600px;
    grid-area: img1;
    transform: scale(.9);
}

main .proyects .proyects__2 .proyects__items__1 {
    font-family: var(--font-tres);
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 0px;
    margin-top: 50px;
    margin-left: 30px;
    color: #FFFFFF;
    grid-area: sub1;

}

main .proyects .proyects__2 .proyect__text__1 {
    font-family: $font-dos;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 35px;
    color: #d6d6d6;
    margin: 15px 20px 25px 30px;
    text-shadow: #000000 2px 2px;

}

main .proyects .proyects__3 .proyect__img__2 {
    width: 600px;
    grid-area: img2;
    transform: scale(.9);
}

main .proyects .proyects__4 .proyects__items__2 {
    font-family: var(--font-tres);
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 0px;
    margin-top: 50px;
    margin-left: 30px;
    color: #FFFFFF;
    grid-area: sub2;
}

main .proyects .proyects__4 .proyect__text__2 {
    font-family: $font-dos;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 35px;
    color: #d6d6d6;
    margin: 15px 20px 25px 30px;
    text-shadow: #000000 2px 2px;
}



@media(min-width:768px) {
    .contenedor .text-container .inner-container .titulo {
        font-size: 80px;
        margin: 150px;
    }

    .contenedor .text-container {
        background-image: url(../img/titulo.png);
        background-size: 800px;
    }

    .contenedor .text-container .inner-container .subtitulo {
        font-size: 40px;
    }

    .contenedor .imagenes .contenedor-img {
        grid-template-columns: repeat(3, 33.3%);

    }

    .contenedor .parrafo .texto {
        font-size: 30px;
    }

    footer .footer .foot1 {
        font-size: 18px;
    }

    /*ABOUT ME*/
    main .datos .datos__item {
        font-size: 80px;
    }

    main .datos .datos__item__item {
        font-size: 20px;
    }

    main .datos .datos__item__item__item {
        font-size: 10px;
    }


}

@media screen and (max-width:880px) {
    .proyects .proyect-title h1 {
        grid-template-columns: 1fr;
    }

    .proyects .proyects__2 h2 {
        grid-template-columns: 1fr;
    }

    .proyects .proyects__2 .proyect__text__1{
        grid-template-columns: 1fr;
    }

    .proyects .proyects__1 .proyect__img__1  {
        height: auto;
    }

    .proyects .proyects__4 .proyect__text__2 {
        grid-template-columns: 1fr;
    }
    

    .proyects .proyects__3 .proyect__img__2  {
        height: auto;
    }
}
